<%= form_for([@project, @task]) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this @task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "Nazwa" %>
    <%= form.text_field :name, id: :task_name, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Zadanie dla:" %>
    <%= form.collection_select :user_id, @project_users, :id, :email, {}, {class:"form-control"} %>
  </div>

  <div class="checkbox">
    <label>
      <%= form.check_box :done, id: :task_done %> 
      <%= form.label "Zakończone" %>
    </label>
  </div>

  <div class="actions text-right">
    <%= form.submit button, class: "btn btn-primary" %>
  </div>
<% end %>
