<h1>Zadania</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nazwa zadania</th>
      <th>Użytkownik</th>
      <th>Status zadania</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.user.email %></td>
        <td><%= done_label(task) %></td>
        
        <td>
          <% if @project.user == current_user || task.user == current_user %>
            <%= done_button(task) %>
            <%= link_to 'Edytuj', edit_project_task_path(@project, task), class: "btn btn-primary" %>
            <%= link_to 'Usuń', [@project,task], method: :delete, class: "btn btn-primary", data: { confirm: 'Czy jesteś pewien?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


