<h1>Szczegóły projektu</h1>
<hr>
<%= join_button %>
<dl class="dl-horizontal">
  <dt>Nazwa projektu:</dt>
  <dd><%= @project.name %></dd>

  <dt>Właściciel projektu:</dt>
  <dd><%= @project.user.email %></dd>

  <dt>Zaproś:</dt>
  <dd><%= text_field_tag :invite_path, @invite_path %></dd>
</dl>

<%= render 'tasks/index', tasks: @project.tasks %>
<hr>
<% if @project.user == current_user %>
	<%= link_to 'Edycja', edit_project_path(@project), class: "btn btn-primary" %> |
<% end %>
<%= link_to 'Powrót', projects_path, class: "btn btn-primary" %>
