<h1>Szczegóły pojektu</h1>

<%= join_button %>
<p>
  <strong>Nazwa projektu:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Właściciel projektu:</strong>
  <%= @project.user.email %>
</p>

<%= link_to 'Edycja', edit_project_path(@project) %> |
<%= link_to 'Powrót', projects_path %>
