<h1>Szczegóły projektu</h1>

<%= join_button %>
<p>
  <strong>Nazwa projektu:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Właściciel projektu:</strong>
  <%= @project.user.email %>
</p>

<p>
  <strong>Zaproś:</strong>
  <%= text_field_tag :invite_path, @invite_path %>
</p>

<% if @is_invited || @project.user == current_user %>
	<%= link_to 'Nowe zadanie', new_project_task_path(@project) %>
<% end %>
<hr>
<%= render 'tasks/index', tasks: @project.tasks %>
<hr>
<% if @project.user == current_user %>
	<%= link_to 'Edycja', edit_project_path(@project) %> |
<% end %>
<%= link_to 'Powrót', projects_path %>
